/* LIB.CSS 1.1 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.lib-serif{font-family:serif}.lib-sans-serif{font-family:sans-serif}.lib-cursive{font-family:cursive}.lib-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.lib-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.lib-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.lib-table,.lib-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.lib-table-all{border:1px solid #ccc}
.lib-bordered tr,.lib-table-all tr{border-bottom:1px solid #ddd}.lib-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.lib-table-all tr:nth-child(odd){background-color:#fff}.lib-table-all tr:nth-child(even){background-color:#f1f1f1}
.lib-hoverable tbody tr:hover,.lib-ul.lib-hoverable li:hover{background-color:#ccc}.lib-centered tr th,.lib-centered tr td{text-align:center}
.lib-table td,.lib-table th,.lib-table-all td,.lib-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.lib-table th:first-child,.lib-table td:first-child,.lib-table-all th:first-child,.lib-table-all td:first-child{padding-left:16px}
.lib-btn,.lib-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.lib-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.lib-btn,.lib-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.lib-disabled,.lib-btn:disabled,.lib-button:disabled{cursor:not-allowed;opacity:0.3}.lib-disabled *,:disabled *{pointer-events:none}
.lib-btn.lib-disabled:hover,.lib-btn:disabled:hover{box-shadow:none}
.lib-badge,.lib-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.lib-badge{border-radius:50%}
.lib-ul{list-style-type:none;padding:0;margin:0}.lib-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.lib-ul li:last-child{border-bottom:none}
.lib-tooltip,.lib-display-container{position:relative}.lib-tooltip .lib-text{display:none}.lib-tooltip:hover .lib-text{display:inline-block}
.lib-ripple:active{opacity:0.5}.lib-ripple{transition:opacity 0s}
.lib-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.lib-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.lib-dropdown-click,.lib-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.lib-dropdown-hover:hover .lib-dropdown-content{display:block}
.lib-dropdown-hover:first-child,.lib-dropdown-click:hover{background-color:#ccc;color:#000}
.lib-dropdown-hover:hover > .lib-button:first-child,.lib-dropdown-click:hover > .lib-button:first-child{background-color:#ccc;color:#000}
.lib-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.lib-check,.lib-radio{width:24px;height:24px;position:relative;top:6px}
.lib-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.lib-bar-block .lib-dropdown-hover,.lib-bar-block .lib-dropdown-click{width:100%}
.lib-bar-block .lib-dropdown-hover .lib-dropdown-content,.lib-bar-block .lib-dropdown-click .lib-dropdown-content{min-width:100%}
.lib-bar-block .lib-dropdown-hover .lib-button,.lib-bar-block .lib-dropdown-click .lib-button{width:100%;text-align:left;padding:8px 16px}
.lib-main,#main{transition:margin-left .4s}
.lib-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.lib-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.lib-bar{width:100%;overflow:hidden}.lib-center .lib-bar{display:inline-block;width:auto}
.lib-bar .lib-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.lib-bar .lib-dropdown-hover,.lib-bar .lib-dropdown-click{position:static;float:left}
.lib-bar .lib-button{white-space:normal}
.lib-bar-block .lib-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.lib-bar-block.lib-center .lib-bar-item{text-align:center}.lib-block{display:block;width:100%}
.lib-responsive{display:block;overflow-x:auto}
.lib-container:after,.lib-container:before,.lib-panel:after,.lib-panel:before,.lib-row:after,.lib-row:before,.lib-row-padding:after,.lib-row-padding:before,
.lib-cell-row:before,.lib-cell-row:after,.lib-clear:after,.lib-clear:before,.lib-bar:before,.lib-bar:after{content:"";display:table;clear:both}
.lib-col,.lib-half,.lib-third,.lib-twothird,.lib-threequarter,.lib-quarter{float:left;width:100%}
.lib-col.s1{width:8.33333%}.lib-col.s2{width:16.66666%}.lib-col.s3{width:24.99999%}.lib-col.s4{width:33.33333%}
.lib-col.s5{width:41.66666%}.lib-col.s6{width:49.99999%}.lib-col.s7{width:58.33333%}.lib-col.s8{width:66.66666%}
.lib-col.s9{width:74.99999%}.lib-col.s10{width:83.33333%}.lib-col.s11{width:91.66666%}.lib-col.s12{width:99.99999%}
@media (min-width:601px){.lib-col.m1{width:8.33333%}.lib-col.m2{width:16.66666%}.lib-col.m3,.lib-quarter{width:24.99999%}.lib-col.m4,.lib-third{width:33.33333%}
.lib-col.m5{width:41.66666%}.lib-col.m6,.lib-half{width:49.99999%}.lib-col.m7{width:58.33333%}.lib-col.m8,.lib-twothird{width:66.66666%}
.lib-col.m9,.lib-threequarter{width:74.99999%}.lib-col.m10{width:83.33333%}.lib-col.m11{width:91.66666%}.lib-col.m12{width:99.99999%}}
@media (min-width:993px){.lib-col.l1{width:8.33333%}.lib-col.l2{width:16.66666%}.lib-col.l3{width:24.99999%}.lib-col.l4{width:33.33333%}
.lib-col.l5{width:41.66666%}.lib-col.l6{width:49.99999%}.lib-col.l7{width:58.33333%}.lib-col.l8{width:66.66666%}
.lib-col.l9{width:74.99999%}.lib-col.l10{width:83.33333%}.lib-col.l11{width:91.66666%}.lib-col.l12{width:99.99999%}}
.lib-rest{overflow:hidden}.lib-stretch{margin-left:-16px;margin-right:-16px}
.lib-content,.lib-auto{margin-left:auto;margin-right:auto}.lib-content{max-width:980px}.lib-auto{max-width:1140px}
.lib-cell-row{display:table;width:100%}.lib-cell{display:table-cell}
.lib-cell-top{vertical-align:top}.lib-cell-middle{vertical-align:middle}.lib-cell-bottom{vertical-align:bottom}
.lib-hide{display:none!important}.lib-show-block,.lib-show{display:block!important}.lib-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.lib-auto{max-width:95%}}
@media (max-width:600px){.lib-modal-content{margin:0 10px;width:auto!important}.lib-modal{padding-top:30px}
.lib-dropdown-hover.lib-mobile .lib-dropdown-content,.lib-dropdown-click.lib-mobile .lib-dropdown-content{position:relative}	
.lib-hide-small{display:none!important}.lib-mobile{display:block;width:100%!important}.lib-bar-item.lib-mobile,.lib-dropdown-hover.lib-mobile,.lib-dropdown-click.lib-mobile{text-align:center}
.lib-dropdown-hover.lib-mobile,.lib-dropdown-hover.lib-mobile .lib-btn,.lib-dropdown-hover.lib-mobile .lib-button,.lib-dropdown-click.lib-mobile,.lib-dropdown-click.lib-mobile .lib-btn,.lib-dropdown-click.lib-mobile .lib-button{width:100%}}
@media (max-width:768px){.lib-modal-content{width:500px}.lib-modal{padding-top:50px}}
@media (min-width:993px){.lib-modal-content{width:900px}.lib-hide-large{display:none!important}.lib-sidebar.lib-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.lib-hide-medium{display:none!important}}
@media (max-width:992px){.lib-sidebar.lib-collapse{display:none}.lib-main{margin-left:0!important;margin-right:0!important}.lib-auto{max-width:100%}}
.lib-top,.lib-bottom{position:fixed;width:100%;z-index:1}.lib-top{top:0}.lib-bottom{bottom:0}
.lib-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.lib-display-topleft{position:absolute;left:0;top:0}.lib-display-topright{position:absolute;right:0;top:0}
.lib-display-bottomleft{position:absolute;left:0;bottom:0}.lib-display-bottomright{position:absolute;right:0;bottom:0}
.lib-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.lib-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.lib-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.lib-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.lib-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.lib-display-container:hover .lib-display-hover{display:block}.lib-display-container:hover span.lib-display-hover{display:inline-block}.lib-display-hover{display:none}
.lib-display-position{position:absolute}
.lib-circle{border-radius:50%}
.lib-round-small{border-radius:2px}.lib-round,.lib-round-medium{border-radius:4px}.lib-round-large{border-radius:8px}.lib-round-xlarge{border-radius:16px}.lib-round-xxlarge{border-radius:32px}
.lib-row-padding,.lib-row-padding>.lib-half,.lib-row-padding>.lib-third,.lib-row-padding>.lib-twothird,.lib-row-padding>.lib-threequarter,.lib-row-padding>.lib-quarter,.lib-row-padding>.lib-col{padding:0 8px}
.lib-container,.lib-panel{padding:0.01em 16px}.lib-panel{margin-top:16px;margin-bottom:16px}
.lib-code,.lib-codespan{font-family:Consolas,"courier new";font-size:16px}
.lib-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.lib-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.lib-card,.lib-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.lib-card-4,.lib-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.lib-spin{animation:lib-spin 2s infinite linear}@keyframes lib-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.lib-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.lib-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.lib-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.lib-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.lib-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.lib-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.lib-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.lib-animate-input{transition:width 0.4s ease-in-out}.lib-animate-input:focus{width:100%!important}
.lib-opacity,.lib-hover-opacity:hover{opacity:0.60}.lib-opacity-off,.lib-hover-opacity-off:hover{opacity:1}
.lib-opacity-max{opacity:0.25}.lib-opacity-min{opacity:0.75}
.lib-greyscale-max,.lib-grayscale-max,.lib-hover-greyscale:hover,.lib-hover-grayscale:hover{filter:grayscale(100%)}
.lib-greyscale,.lib-grayscale{filter:grayscale(75%)}.lib-greyscale-min,.lib-grayscale-min{filter:grayscale(50%)}
.lib-sepia{filter:sepia(75%)}.lib-sepia-max,.lib-hover-sepia:hover{filter:sepia(100%)}.lib-sepia-min{filter:sepia(50%)}
.lib-tiny{font-size:10px!important}.lib-small{font-size:12px!important}.lib-medium{font-size:15px!important}.lib-large{font-size:18px!important}
.lib-xlarge{font-size:24px!important}.lib-xxlarge{font-size:36px!important}.lib-xxxlarge{font-size:48px!important}.lib-jumbo{font-size:64px!important}
.lib-left-align{text-align:left!important}.lib-right-align{text-align:right!important}.lib-justify{text-align:justify!important}.lib-center{text-align:center!important}
.lib-border-0{border:0!important}.lib-border{border:1px solid #ccc!important}
.lib-border-top{border-top:1px solid #ccc!important}.lib-border-bottom{border-bottom:1px solid #ccc!important}
.lib-border-left{border-left:1px solid #ccc!important}.lib-border-right{border-right:1px solid #ccc!important}
.lib-topbar{border-top:6px solid #ccc!important}.lib-bottombar{border-bottom:6px solid #ccc!important}
.lib-leftbar{border-left:6px solid #ccc!important}.lib-rightbar{border-right:6px solid #ccc!important}
.lib-section,.lib-code{margin-top:16px!important;margin-bottom:16px!important}
.lib-margin{margin:16px!important}.lib-margin-top{margin-top:16px!important}.lib-margin-bottom{margin-bottom:16px!important}
.lib-margin-left{margin-left:16px!important}.lib-margin-right{margin-right:16px!important}
.lib-padding-small{padding:4px 8px!important}.lib-padding{padding:8px 16px!important}.lib-padding-large{padding:12px 24px!important}
.lib-padding-16{padding-top:16px!important;padding-bottom:16px!important}.lib-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.lib-padding-32{padding-top:32px!important;padding-bottom:32px!important}.lib-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.lib-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.lib-padding-top-64{padding-top:64px!important}.lib-padding-top-48{padding-top:48px!important}
.lib-padding-top-32{padding-top:32px!important}.lib-padding-top-24{padding-top:24px!important}
.lib-left{float:left!important}.lib-right{float:right!important}
.lib-button:hover{color:#000!important;background-color:#ccc!important}
.lib-transparent,.lib-hover-none:hover{background-color:transparent!important}
.lib-hover-none:hover{box-shadow:none!important}
/* Colors */
.lib-amber,.lib-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.lib-aqua,.lib-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.lib-blue,.lib-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.lib-light-blue,.lib-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.lib-brown,.lib-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.lib-cyan,.lib-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.lib-blue-grey,.lib-hover-blue-grey:hover,.lib-blue-gray,.lib-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.lib-green,.lib-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.lib-light-green,.lib-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.lib-indigo,.lib-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.lib-khaki,.lib-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.lib-lime,.lib-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.lib-orange,.lib-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.lib-deep-orange,.lib-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.lib-pink,.lib-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.lib-purple,.lib-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.lib-deep-purple,.lib-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.lib-red,.lib-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.lib-sand,.lib-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.lib-teal,.lib-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.lib-yellow,.lib-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.lib-white,.lib-hover-white:hover{color:#000!important;background-color:#fff!important}
.lib-black,.lib-hover-black:hover{color:#fff!important;background-color:#000!important}
.lib-grey,.lib-hover-grey:hover,.lib-gray,.lib-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.lib-light-grey,.lib-hover-light-grey:hover,.lib-light-gray,.lib-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.lib-dark-grey,.lib-hover-dark-grey:hover,.lib-dark-gray,.lib-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.lib-pale-red,.lib-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.lib-pale-green,.lib-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.lib-pale-yellow,.lib-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.lib-pale-blue,.lib-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.lib-text-amber,.lib-hover-text-amber:hover{color:#ffc107!important}
.lib-text-aqua,.lib-hover-text-aqua:hover{color:#00ffff!important}
.lib-text-blue,.lib-hover-text-blue:hover{color:#2196F3!important}
.lib-text-light-blue,.lib-hover-text-light-blue:hover{color:#87CEEB!important}
.lib-text-brown,.lib-hover-text-brown:hover{color:#795548!important}
.lib-text-cyan,.lib-hover-text-cyan:hover{color:#00bcd4!important}
.lib-text-blue-grey,.lib-hover-text-blue-grey:hover,.lib-text-blue-gray,.lib-hover-text-blue-gray:hover{color:#607d8b!important}
.lib-text-green,.lib-hover-text-green:hover{color:#4CAF50!important}
.lib-text-light-green,.lib-hover-text-light-green:hover{color:#8bc34a!important}
.lib-text-indigo,.lib-hover-text-indigo:hover{color:#3f51b5!important}
.lib-text-khaki,.lib-hover-text-khaki:hover{color:#b4aa50!important}
.lib-text-lime,.lib-hover-text-lime:hover{color:#cddc39!important}
.lib-text-orange,.lib-hover-text-orange:hover{color:#ff9800!important}
.lib-text-deep-orange,.lib-hover-text-deep-orange:hover{color:#ff5722!important}
.lib-text-pink,.lib-hover-text-pink:hover{color:#e91e63!important}
.lib-text-purple,.lib-hover-text-purple:hover{color:#9c27b0!important}
.lib-text-deep-purple,.lib-hover-text-deep-purple:hover{color:#673ab7!important}
.lib-text-red,.lib-hover-text-red:hover{color:#f44336!important}
.lib-text-sand,.lib-hover-text-sand:hover{color:#fdf5e6!important}
.lib-text-teal,.lib-hover-text-teal:hover{color:#009688!important}
.lib-text-yellow,.lib-hover-text-yellow:hover{color:#d2be0e!important}
.lib-text-white,.lib-hover-text-white:hover{color:#fff!important}
.lib-text-black,.lib-hover-text-black:hover{color:#000!important}
.lib-text-grey,.lib-hover-text-grey:hover,.lib-text-gray,.lib-hover-text-gray:hover{color:#757575!important}
.lib-text-light-grey,.lib-hover-text-light-grey:hover,.lib-text-light-gray,.lib-hover-text-light-gray:hover{color:#f1f1f1!important}
.lib-text-dark-grey,.lib-hover-text-dark-grey:hover,.lib-text-dark-gray,.lib-hover-text-dark-gray:hover{color:#3a3a3a!important}
.lib-border-amber,.lib-hover-border-amber:hover{border-color:#ffc107!important}
.lib-border-aqua,.lib-hover-border-aqua:hover{border-color:#00ffff!important}
.lib-border-blue,.lib-hover-border-blue:hover{border-color:#2196F3!important}
.lib-border-light-blue,.lib-hover-border-light-blue:hover{border-color:#87CEEB!important}
.lib-border-brown,.lib-hover-border-brown:hover{border-color:#795548!important}
.lib-border-cyan,.lib-hover-border-cyan:hover{border-color:#00bcd4!important}
.lib-border-blue-grey,.lib-hover-border-blue-grey:hover,.lib-border-blue-gray,.lib-hover-border-blue-gray:hover{border-color:#607d8b!important}
.lib-border-green,.lib-hover-border-green:hover{border-color:#4CAF50!important}
.lib-border-light-green,.lib-hover-border-light-green:hover{border-color:#8bc34a!important}
.lib-border-indigo,.lib-hover-border-indigo:hover{border-color:#3f51b5!important}
.lib-border-khaki,.lib-hover-border-khaki:hover{border-color:#f0e68c!important}
.lib-border-lime,.lib-hover-border-lime:hover{border-color:#cddc39!important}
.lib-border-orange,.lib-hover-border-orange:hover{border-color:#ff9800!important}
.lib-border-deep-orange,.lib-hover-border-deep-orange:hover{border-color:#ff5722!important}
.lib-border-pink,.lib-hover-border-pink:hover{border-color:#e91e63!important}
.lib-border-purple,.lib-hover-border-purple:hover{border-color:#9c27b0!important}
.lib-border-deep-purple,.lib-hover-border-deep-purple:hover{border-color:#673ab7!important}
.lib-border-red,.lib-hover-border-red:hover{border-color:#f44336!important}
.lib-border-sand,.lib-hover-border-sand:hover{border-color:#fdf5e6!important}
.lib-border-teal,.lib-hover-border-teal:hover{border-color:#009688!important}
.lib-border-yellow,.lib-hover-border-yellow:hover{border-color:#ffeb3b!important}
.lib-border-white,.lib-hover-border-white:hover{border-color:#fff!important}
.lib-border-black,.lib-hover-border-black:hover{border-color:#000!important}
.lib-border-grey,.lib-hover-border-grey:hover,.lib-border-gray,.lib-hover-border-gray:hover{border-color:#9e9e9e!important}
.lib-border-light-grey,.lib-hover-border-light-grey:hover,.lib-border-light-gray,.lib-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.lib-border-dark-grey,.lib-hover-border-dark-grey:hover,.lib-border-dark-gray,.lib-hover-border-dark-gray:hover{border-color:#616161!important}
.lib-border-pale-red,.lib-hover-border-pale-red:hover{border-color:#ffe7e7!important}.lib-border-pale-green,.lib-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.lib-border-pale-yellow,.lib-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.lib-border-pale-blue,.lib-hover-border-pale-blue:hover{border-color:#e7ffff!important}